.buttonLess {
  width: 100%;
  background: rgb(190, 32, 32);
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}

.buttonLess:hover {
  width: 100%;
  background: rgb(63, 10, 10);
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}

.buttonLess:disabled {
  background: #888;
  cursor: not-allowed;
}